/* Tailwind Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Leaflet CSS */
@import 'leaflet/dist/leaflet.css';

/* Global Styles */
body {
    @apply bg-slate-50 text-slate-800;
}

/* Fix obligatoire pour que la carte s'affiche */
.leaflet-container {
    height: 100%;
    width: 100%;
    z-index: 0;
}
